###
# app configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/environment.html
###

[app:main]
use = egg:perturbtrafic_api

pyramid.reload_templates = true
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
    pyramid_mailer.debug
    pyramid_debugtoolbar
    pyramid_tm
    pyramid_chameleon

#############################################
# Les informations de connexion à la BD
#############################################

# Les informations de connexion PostgreSQL : utilisateur, mot de passe, serveur et BD
sqlalchemy.url = postgresql://user:password@host/perturbtrafic

# Le nom du schéma de BD
schema_name = perturbtrafic



#############################################
# Les informations de connexion au LDAP
# Peut être testé avec Apache directory studio
# ou LDAP Explorer
#############################################

# L'URL de LDAP et le numéro de port
ldap_url = ldap://host:port

# Le bind utilisé par la connexion
ldap_bind= cn=Manager,dc=maxcrc,dc=com

# Le mot de passe du bind utilisé par la connexion
ldap_passwd= password


###########################################################
# La configuration de la recherche des logins dans LDAP
###########################################################

# Le DN de base de la recherche des logins
ldap_login_query_base_dn= ou=perturbtraficUsers,ou=People,dc=maxcrc,dc=com

# Le filtre de la recherche des logins
# memberOf:1.2.840.113556.1.4.1941 est propre à Microsoft et permet la récursion dans les groupes
# Attention, si le groupe est vide, aucun utilisateur n'est renvoyé et le login est interdit
ldap_login_query_filter_tmpl= (uid=%%(login)s)

# Les attributs à retourner
# sAMAccountName est propore à Microsoft, c'est l'attribut stockant le nom d'utilisateur Windows
ldap_login_query_attributes= uid, givenName, sn, mail, telephoneNumber, mobile

# Le scope de la recherche (LEVEL, SUBTREE)
ldap_login_query_scope= SUBTREE


###########################################################
# La configuration de la recherche des groupes dans LDAP
###########################################################

# Le DN de base de la recherche des groupes
ldap_group_query_base_dn= ou=perturbtraficGroups,ou=People,dc=maxcrc,dc=com

# Le filtre de la recherche des groupes
ldap_group_query_filter_tmpl= (&(objectClass=groupOfNames)(cn=PERTURBTRAFIC_*)(member=%%(userdn)s))

# Le nombre de secondes du cache de la recherche des groupes
ldap_group_query_cache_period=600

# Le scope de la recherche (LEVEL, SUBTREE)
ldap_group_query_scope=SUBTREE

# Les attributs à retourner
ldap_group_attributes=cn, ou,member


######################################################################
# Autres paramètres de configuration utilisés pour interroger LDAP
######################################################################

# Le template d'un DN d'un utilisateur LDAP
ldap_user_dn_template = sAMAccountName={login},ou=perturbtraficUsers,ou=People,dc=maxcrc,dc=com

# L'attribut qui correspond au login d'un utilisateur LDAP
ldap_user_attribute_login= uid

# Les autres attributs d'un utilisateur LDAP
ldap_user_attribute_firstname= givenName
ldap_user_attribute_lastname= sn
ldap_user_attribute_telephone= telephoneNumber
ldap_user_attribute_mail= mail
ldap_user_attribute_mobile= mobile

# Les attributs qui correspondent au nom et identifiant d'un groupe LDAP
ldap_group_attribute_name= cn
ldap_group_attribute_id= ou

# Les informations de recherche d'un utilisateur LDAP
ldap_search_user_filter=(objectClass=person)

# Les préfixes des groupes entites et fonctions
ldap_entite_groups_prefix= PERTURBTRAFIC_entite_
ldap_fonction_groups_prefix= PERTURBTRAFIC_fonction_

# Le nom du groupe trafic
ldap_trafic_group_name= PERTURBTRAFIC_fonction_perturbation_etat_Users
id_responsable_entite=359


##################################################
# Les informations des mails
##################################################

# Les informations du serveur des mails
mail.host = host
mail.port = 587
mail.username = test@gmail.com
mail.password = password
mail.tls = True
mail.debug = 1

# Les objets des mails
mail_fermeture_urgence_subject= FERMETURE D'URGENCE
mail_srb_touche_subject= SRB TOUCHE


#############################################################################
# Identifiant de référence spatiale utilisé lors de création des géométries
#############################################################################
srid = 2056


##################################################
# Les différents id des états d'une perturbation
##################################################

perturbation_etat_acceptee_code= 1
perturbation_etat_refusee_code= 2
perturbation_etat_attente_code= 3


######################################################
# Les informations utiles pour les imports des XML
######################################################

# Le répertoire à partir duquel sont importés les fichiers XML
evenements_xml_files_folder = D:\arx iT\Mandats\8056_GE - NE-SPCH Refonte PerturbTrafic\Production\2 - Realisation\evenement_xml_files

# Le répertoire dans lequel sont déplacés les fichiers XML importés avec succès
evenements_xml_files_success_folder = D:\arx iT\Mandats\8056_GE - NE-SPCH Refonte PerturbTrafic\Production\2 - Realisation\evenement_xml_files_success
# Le répertoire dans lequel sont déplacés les fichiers XML non importés car générant une erreur
evenements_xml_files_failure_folder = D:\arx iT\Mandats\8056_GE - NE-SPCH Refonte PerturbTrafic\Production\2 - Realisation\evenement_xml_files_failure

# Les identifiants nécessaires pour l'import XML
id_responsable_xml_import = 2
id_user_ajout_xml_import = 2
id_entite_xml_import = 1

# Les formats des dates et heures dans le fichier XML
xml_date_template=%%d-%%m-%%Y
xml_heure_template=%%H:%%M


######################################################################################
# Le nombre max des résultats retournés par la recherche des évènements et perturbations
######################################################################################
search_limit = 50


##############################
# Les informations des WFS
##############################

# Informations du WFS SITN
spch_wfs_url = https://sitn.ne.ch/ogc-sitn-spch/wms
version = 1.1.0
srsname = EPSG:2056

# Infomations pour récupérer les Localités
localites_typename = ad05_npa6
localites_propertyname = ms:npa,ms:localite
localites_return_template = {"id": "{ms:npa}", "name": "{ms:localite}"}

# Informations pour récupérer les Cadastre
cadastre_typename = la02_cadastres
cadastre_propertyname = ms:cadnom
cadastre_return_template = {"id": "{ms:cadnom}", "name": "{ms:cadnom}"}

# Informations pour récupérer les Communes
communes_typename = la3_limites_communales
communes_propertyname = ms:comnom,ms:numcom,ms:nufeco
communes_return_template = {"id": "{ms:numcom}", "name": "{ms:comnom}"}


##########################
# Vmdeport Web service
##########################
vmdeport_ws_url = https://sitn.ne.ch/vmdeport_export

########################################################################
# Les préfixes des numéros de dossiers des différents types d'évènement
########################################################################
num_dossier_prefix_autre = AE_
num_dossier_prefix_chantier = CH_
num_dossier_prefix_fouille = PF_
num_dossier_prefix_manifestation = MA_

##############################################
# Les ids des différents types d'évènements
##############################################
autre_evenement_id = 1
chantier_evenement_id = 2
fouille_evenement_id = 3
manifestation_evenement_id = 4


##################################################
# Les ids des différents types de perturbations
##################################################
fermeture_perturbation_id = 1
occupation_perturbation_id = 2

########################################################################
# Le buffer en jours pour retourner les conflits des perturbations
########################################################################
conflicts_date_buffer = 3

########################################################################
# Le buffer géométrique (selon l'unité du système de reférence spatiale) pour retourner les conflits des perturbations
########################################################################
conflicts_geom_buffer = 10


########################################################################
# L'url pour visualiser une perturbation
########################################################################
view_perturbation_url = https://perturbtrafic.arxit.com/perturbations/formulaire/view/{id}

retry.attempts = 3

# By default, the toolbar only appears for clients from IP addresses
# '127.0.0.1' and '::1'.
# debugtoolbar.hosts = 127.0.0.1 ::1

[pshell]
setup = perturbtrafic_api.pshell.setup

###
# wsgi server configuration
###

[alembic]
# path to migration scripts
script_location = perturbtrafic_api/alembic
file_template = %%(year)d%%(month).2d%%(day).2d_%%(rev)s
# file_template = %%(rev)s_%%(slug)s

[server:main]
use = egg:waitress#main
listen = localhost:6543

###
# logging configuration
# https://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root, perturbtrafic_api, sqlalchemy, pyramid_ldap

[handlers]
keys = console, filelog,accesslog

[formatters]
keys = generic,accesslog

[logger_root]
level = INFO
handlers = filelog

[logger_perturbtrafic_api]
level = DEBUG
handlers =
qualname = perturbtrafic_api

[logger_sqlalchemy]
level = WARN
handlers =
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

[logger_wsgi]
level = INFO
handlers = accesslog
qualname = wsgi
propagate = 0

[logger_waitress]
level = WARN

[logger_pyramid_ldap]
level = DEBUG
handlers =
qualname = pyramid_ldap3

[logger_ldap3]
level = ERROR
qualname=ldap3
handlers =

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[handler_filelog]
class = FileHandler
args = (r'%(here)s/logs/logs.log','a')
level = INFO
formatter = generic

[handler_accesslog]
class = FileHandler
args = (r'%(here)s/logs/access.log','a')
level = INFO
formatter = accesslog

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s:%(lineno)s][%(threadName)s] %(message)s

[formatter_accesslog]
format = %(message)s