[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
owslib = "*"
xmltodict = "*"
psycopg2-binary = "*"
geoalchemy2 = "*"
ldap3 = "*"
pyramid-ldap3 = "*"
pyramid-mailer = "*"
premailer = "*"
pyramid-chameleon = "*"
waitress = "*"
paste = "*"
pyramid-jinja2 = "*"

[requires]
python_version = "3.6"
