<kendo-dialog title="Repérages prévus" *ngIf="opened" [minWidth]="450" [width]="1000" [height]="400" (close)="close()">
  Nouveau repérage <i class="fas fa-plus-square" (click)="addReperage()"></i>
  <kendo-grid [data]="reperages">
    <kendo-grid-messages noRecords="Aucun repérage">
    </kendo-grid-messages>
    <ng-container *ngFor="let col of cols">
      <kendo-grid-column [field]="col.field" [title]="col.header" [format]="col.format" [width]="col.width">
        <ng-template *ngIf="col.field==='action'" kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <div class="actions-cell-container">
            <i class="far fa-trash-alt delete" (click)="onDeleteReperageClick(rowIndex, dataItem)"></i>
          </div>
        </ng-template>
        <ng-template *ngIf="col.field==='axe'" kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <kendo-combobox [data]="dataItem.filteredAxeMaintenances" [(ngModel)]="dataItem.axe" [filterable]="true"
            (filterChange)="filterAxeMaintenances($event, rowIndex)" [disabled]="dataItem.fromDb || dataItem.drawn"
            (valueChange)="onAxeMaintenanceChanged($event, rowIndex)" style="width: 100%" [textField]="'nom_complet'"
            [valueField]="'nom_complet'" [valuePrimitive]=false>
          </kendo-combobox>
        </ng-template>
        <ng-template *ngIf="col.field==='debutPr'" kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <kendo-combobox [data]="dataItem.filteredPrDebuts" [(ngModel)]="dataItem.debutPr" [filterable]="true" [disabled]="dataItem.fromDb || dataItem.drawn"
            (valueChange)="onDebutPrChanged($event, rowIndex)" (filterChange)="filterPrDebuts($event, rowIndex)"
            [textField]="'secteur_nom'" [valueField]="'secteur_nom'" style="width: 100%" [valuePrimitive]=false
            [disabled]="!dataItem.axe || dataItem.id > -1">
          </kendo-combobox>
        </ng-template>
        <!--<ng-template *ngIf="col.field=='distMaxDebut'" kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <input />
        </ng-template>
        <ng-template *ngIf="col.field==='debutPr'" kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <kendo-combobox [data]="filteredPrDebuts" [filterable]="true" (filterChange)="filterPrDebuts($event)"
            [textField]="'name'" [valueField]="'id'" [valuePrimitive]=true formControlName="prDebut">
          </kendo-combobox>
        </ng-template> -->
        <ng-template *ngIf="col.field=='distMaxDebut'" kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <input class=k-textbox style="width: 100%" [ngModel]="dataItem.debutPr?.secteur_longueur" disabled="true" />
        </ng-template>
        <ng-template *ngIf="col.field=='distanceDebut'" kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <input class=k-textbox style="width: 100%" [disabled]="!dataItem.debutPr || dataItem.fromDb || dataItem.drawn"
            [(ngModel)]="dataItem.distanceDebut" (blur)="onBlurDebutDistanceEdition(rowIndex)" />
        </ng-template>

        <ng-template *ngIf="col.field==='finPr'" kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <kendo-combobox [data]="dataItem.filteredPrFins" [(ngModel)]="dataItem.finPr" [filterable]="true" (valueChange)="onFinPrChanged($event, rowIndex)"
            (filterChange)="filterPrFins($event, rowIndex)" [textField]="'secteur_nom'" [valueField]="'secteur_nom'" style="width: 100%"
            [valuePrimitive]=false [disabled]="!dataItem.axe || dataItem.fromDb || dataItem.drawn">
          </kendo-combobox>
        </ng-template>
        <ng-template *ngIf="col.field=='distMaxFin'" kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <input class=k-textbox style="width: 100%" [ngModel]="dataItem.finPr?.secteur_longueur" disabled="true" />
        </ng-template>
        <ng-template *ngIf="col.field=='distanceFin'" kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <input class=k-textbox style="width: 100%" [disabled]="!dataItem.finPr || dataItem.fromDb ||dataItem.drawn"
            [(ngModel)]="dataItem.distanceFin" (blur)="onBlurFinDistanceEdition(rowIndex)" />
        </ng-template>
      </kendo-grid-column>
      <!-- <kendo-grid-column *ngIf="col.field=='type'" [title]="col.header">
          <ng-template kendoGridGroupHeaderTemplate let-value="value">
            {{value}}
          </ng-template>
        </kendo-grid-column> -->
    </ng-container>
  </kendo-grid>
  <div *ngIf="hasWSError" style="color: red">
    Un ou plusieurs repérages non valide pour VM deport <br>
    <span [innerHTML]="wsErrorMessage"></span>

  </div>
  <div *ngIf="hasInputError" style="color: red">
    Repérage invalide ligne {{inputErrorRowIndex}}
  </div>
  <kendo-dialog-actions>
    <button kendoButton [iconClass]="'fa fa-times fa-fw'" (click)="close()">Fermer</button>
  </kendo-dialog-actions>

</kendo-dialog>