<form class="k-form-inline" [formGroup]="perturbationFormService.perturbationForm">
  <div class="form-content">
    <perturbation-type-evenement></perturbation-type-evenement>
    <type-perturbation></type-perturbation>
    <informations-perturbation
      *ngIf="perturbationFormService.typePerturbation?.value && perturbationFormService.evenement?.value">
    </informations-perturbation>
    <attributs-fermeture-perturbation
      *ngIf="perturbationFormService.typePerturbation?.value===1 && perturbationFormService.evenement?.value">
    </attributs-fermeture-perturbation>
    <attributs-occupation-perturbation
      *ngIf="perturbationFormService.typePerturbation?.value===2 && perturbationFormService.evenement?.value">
    </attributs-occupation-perturbation>
    <carte-perturbation
      [hidden]="!(perturbationFormService.typePerturbation?.value && perturbationFormService.evenement?.value)">
    </carte-perturbation>
    <avis-perturbation #preavisComponent [perturbationPreavis]="perturbationFormService.avisContacts"
      [hidden]="!(perturbationFormService.typePerturbation?.value && perturbationFormService.evenement?.value)">
    </avis-perturbation>
    <div #conflictSection>
      <conflits-perturbation [hidden]="!(perturbationFormService.typePerturbation?.value)"></conflits-perturbation>
    </div>
    <remarque-perturbation
      *ngIf="perturbationFormService.typePerturbation?.value && perturbationFormService.evenement?.value">
    </remarque-perturbation>
  </div>
  <div class="footer">
    <div class="buttons-container">
      <button kendoButton [iconClass]="'fa fa-ban fa-fw'" [routerLink]="'/perturbations'">Annuler</button>
      <button *ngIf="perturbationFormService.mode==='READ_ONLY'" kendoButton [iconClass]="'fa fa-print fa-fw'"
        (click)="printPerturbation()">Export PDF</button>
      <button *ngIf="perturbationFormService.mode!='READ_ONLY'" kendoButton [primary]="true"
        [iconClass]="'fa fa-save fa-fw'" (click)="onSaveEvent()">Enregistrer</button>
    </div>
  </div>
</form>

<contact-edition-dialog></contact-edition-dialog>

<kendo-dialog title="Perturbation enregistrée" *ngIf="onSavedDialogOpened" [minWidth]="450" [width]="600">
  <ng-container *ngIf="conflictsLength > 0">
    Attention, la perturbation a été enregistrée correctement mais celle-ci entre en conflits avec des perturbations
    existantes
  </ng-container>

  <ng-container *ngIf="conflictsLength==0">
    La perturbation a été enregistrée correctement.
    <!-- <br>
    Il n'y a pas de conflits en cours pour cet événement. -->
  </ng-container>

  <kendo-dialog-actions>
    <button *ngIf="conflictsLength > 0" kendoButton [iconClass]="'far fa-eye fa-fw'"
      (click)="reloadPerturbationFormulaire()">Voir</button>
    <button kendoButton [iconClass]="'fas fa-check fa-fw'" [primary]="true"
      (click)="routeToPerturbationsListe()">OK</button>
  </kendo-dialog-actions>
</kendo-dialog>

<saisie-reperage [reperages]="perturbationFormService.reperages">
</saisie-reperage>